name: Deploy
on: 
  push:
    branches:
      - ci

jobs:
  # lint:
  #   name: Format and lint
  #   runs-on: ubuntu-20.04

  #   steps:
  #     - uses: actions/checkout@v2.3.4
  #       with:
  #         submodules: true

  #     - uses: actions/setup-go@v2
  #       with:
  #         go-version: ^1.17

  #     - name: Lint
  #       run: make lint

  #     - name: Format
  #       run: make fmt && git diff --quiet

  #     - name: Goimports
  #       run: make goimports && git diff --quiet
  
  build:
    name: build docker image
    runs-on: ubuntu-20.04
    # needs: 
    #   - lint

    steps:
      - uses: actions/checkout@v2.3.4
        with:
          submodules: true

      - uses: docker/login-action@v1
        name: login to ghcr
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: build and push images
        env:
          IMAGE_DB: ${{ secrets.IMAGE_DB }}
          IMAGE_APP: ${{ secrets.IMAGE_APP }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          PORT: ${{ secrets.PORT }}

        run: |
          make build push
          cat .env
